@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  /* background: -webkit-linear-gradient(left, #003366,#004080,#0059b3
, #0073e6); */
background: linear-gradient(to right, #1a1a1a, #211f1f);

}
.AuthError-Container,.AuthError-Container-new {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border-radius: 7px;
  text-align: center;
  padding: 6px;
}
.AuthError-Container-new{
  top: -10vh;
}
.Cancel-Addmember{
  cursor: pointer;
  border-radius: 3px;
  padding: 3px;
  border: 0.1px solid rgba(0, 0, 0, 0.449);
}
.AuthError-Container{
  top: 2vh;
}
.AuthError-Container.error,.AuthError-Container-new.error{
  background-color: rgb(254, 49, 49);
}
.AuthError-Container.success,.AuthError-Container-new.success{
  background-color: rgb(170, 224, 89);
}
.togglePass{
  margin-left:3px ;
}
.passwordInput{
  width: 85%;
}
.flexField{
  display: flex;
  align-items: center;
}
/* ::selection{
  background: #1a75ff;
  color: #fff;
} */
 .toggleAnchor{
  cursor: pointer;
 }
.wrapper{
  overflow: hidden;
  width: 100%;;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
  flex-wrap: wrap;
  align-items: center;
}
.wrapper .title{
  width: 100%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: -webkit-linear-gradient(left,#003366,#004080,#0059b3
, #0073e6);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.login{
  user-select: none;
}
.wrapper .form-container{
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
/* .form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
} */
.form-container .form-inner .custom-form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner .custom-form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.emailInput{
  width: 100%;
}
.form-inner .custom-form .field input{
  height: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner .custom-form .field input:focus{
  border-color: #1a75ff;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
.custom-form .field input:focus::placeholder{
  color: #1a75ff;
}
.form-inner .custom-form .pass-link{
  margin-top: 5px;
}
.form-inner .custom-form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner .custom-form .pass-link a,
.form-inner .custom-form .signup-link a{
  color: #1a75ff;
  text-decoration: none;
}
.form-inner .custom-form .pass-link a:hover,
.form-inner .custom-form .signup-link a:hover{
  text-decoration: underline;
}
.custom-form .btn{
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.custom-form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right,#003366,#004080,#0059b3
, #0073e6);
  border-radius: 15px;
  transition: all 0.4s ease;;
}
.custom-form .btn:hover .btn-layer{
  left: 0;
}
.custom-form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.custom-form.login#login{
    margin-left : 0%;  
}
.custom-form.login#signup{
    margin-left : -50%;
}
/* .title#login{
    margin-left : 0%; 
}
.title#signup{
    margin-left : -50%; 
} */
.title.signup#login{
  display: none; 
}
.title.login#signup{
  display: none; 
}
.specSlideLogin#login{
    background: #004489;
    color: #fff;
    cursor: default;
}
.specSlideLogin#signup{
    background: white;
    color: black;
}
.specSlideSignup#login{
    background: white;
    color: black;
}
.specSlideSignup#signup{
    background: #004489;
    color: #fff;
    cursor: default;
}
#signupLink{
    cursor: pointer;
}